#drag { 
            border:solid 1px #CCC; 
            width:200px; 
            height:190px;
            padding:5px 0; 
            margin:5px; 
            font:13px Arial; 
            cursor:move;
            text-align:center;
            position: fixed;
            top: 20%;
            left: 45%;
        }

#Jogar{

            border: none;
            padding: 8px 22px;
            text-align: center;
            display: inline-block;
            font-size: 14px;
}

#next {

            border: none;
            padding: 8px 41px;
            text-align: center;
            display: inline-block;
            font-size: 14px;
}

.lbop{
            text-align: left;
            font-size: 14px;
}

.como{
            position:relative;
            top:-66%;
            left:41%;
            text-decoration: underline;
            color: blue;
}

#slideD {
            width:50px;
            height:50px;
            left:48%;
            top:1%;
            position:fixed;
}

#bg1{

            display: block;
            padding:5px 0; 
            margin:5px; 
            position: fixed;
            top: 20%;
            left: 35%;
            z-index: -1;



}



.galo_O{
            width:105px;
            height:105px;
            position: fixed;

}

.galo_X{

            width:120px;
            height:120px;
            position: fixed;

}

#rematch{
    display: block;
    border:solid 1.1px #CCC;
    border-radius: 10px;
    width: 321px;
    height: 96px;
    left: 40%;
    top: 85%;
    position: fixed;

}